body{
    background: rgb(99, 130, 194);
    font: normal 15pt Arial;
    width: 100%;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

div {
    padding: 10px;
}

#foto {
    margin-top: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        text-align: center;
    }
    section {
        width:80%
    }
    #res {
        font-size: 16px;
        text-align: center;
    }
    #foto {
        width: 200px;
        margin-top: 20px;
    }
    footer {
        font-size: 12px;
    }
}